.node {
  width: 20px;
  height: 20px;
  outline: 1px solid rgb(72, 73, 75);
  display: inline-block;
  margin-bottom: -4px;
  margin-top: -4px;
}

.node-finish {
  background-color: red;
}
.node-hover-enter {
  
  background-color: greenyellow;
  transform: scale(0.5);
}
.node-hover-exit{
  background-color: white;

}
.node-start {
  background-color: green;
}
.node-not-start-node{
  background-color: white;
}
.node-weight{
  background-color: hotpink;
}
.node-visited-weight{
  background-color: orange;
}
.node-visited-weight-path{
  background-color: black;
}
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}


.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


.node-wall{
    background-color: grey;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: yellow;
  }
}